= form_for @contact, :url => url, :html => html do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2= pluralize(@contact.errors.count, "error") + " prohibited this user from being saved:"
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    %legend Inquiry
    %ol
      %li
        = f.label :email
        = f.email_field :email
      %li
        = f.label :comment
        = f.text_area :comment
  %fieldset
    /= recaptcha_tags
    .actions= f.submit submit_title
