= form_for @user, :url => url, :html => html do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    %legend
      User
      = @user.email
    %ol
      %li
        = f.label :email
        = f.email_field :email
      %li
        = f.label :password
        <i>(leave blank if you don't want to change it)</i><br />
        = f.password_field :password
      %li
        = f.label :password_confirmation
        = f.password_field :password_confirmation
      %li
        = f.label :current_password
        <i>(we need your current password to confirm your changes)</i><br />
        = f.password_field :current_password
  - unless @user.email == "redacted@domain.com"
    %fieldset
      %legend
        = @user.email
        Role
      %ol
        %li
          = f.label :role
          = f.collection_select :role, User::ROLES, :to_s, :humanize
  %fieldset
    .actions
      = f.submit submit_title
